<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project One</title>
    <!-- Bootsrap File -->
    <!-- <link rel="stylesheet" href="../assets/css/bootstrap.min.css"> -->
    <!-- Css File -->
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
    <!-- Welcome : Start -->
    <div class="welcome">
        <header>
            <div class="cont">
                <div class="up flx-bet">
                    <div class="social flx-gap-s">
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                    </div>
                    <div class="info flx-gap-l">
                        <div class="mail flx-gap-s">
                            <i class="fa-solid fa-envelope"></i>
                            <p><a href="">tfa@here.com</a></p>
                        </div>
                        <div class="phone flx-gap-s">
                            <i class="fa-solid fa-square-phone-flip"></i>
                            <p><a href="">0123 345 6789</a></p>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="dwn flx-bet">
                    <div class="logo">brandName</div>
                    <nav>
                        <ul class="flx-gap-s">
                            <li><a href="">home</a></li>
                            <li><a href="">about us</a></li>
                            <li class="has-children">
                                <a href="">projects &gt;</a>
                                <ul class="dropdown">
                                    <li><a href="">proj one</a></li>
                                    <li><a href="">proj two</a></li>
                                    <li class="has-children">
                                        <a href="">proj three &gt;</a>
                                        <ul class="dropdown">
                                            <li><a href="">part one</a></li>
                                            <li><a href="">part two</a></li>
                                            <li><a href="">last part</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="">news</a></li>
                            <li><a href="">service</a></li>
                            <li><a href="">contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <section>
            <div class="cont">
                <div class="txt">
                    <p>interior design company</p>
                    <h1 class="hero">experience <br> interior design</h1>
                </div>
                <div class="sections-cards flx-gap-m">
                    <div class="card">
                        <i class="fa-solid fa-hotel"></i>
                        <div class="card-txt">
                            <h4>interior architecture</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor excepturi reprehenderit
                                atque ab </p>
                        </div>
                    </div>
                    <div class="card">
                        <i class="fa-solid fa-door-open"></i>
                        <div class="card-txt">
                            <h4>interior design</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor excepturi reprehenderit
                                atque ab </p>
                        </div>

                    </div>
                    <div class="card">
                        <i class="fa-solid fa-couch"></i>
                        <div class="card-txt">
                            <h4>furniture</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor excepturi reprehenderit
                                atque ab </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Welcome : End -->
    <main>
        <!-- Features : Start -->
        <section class="features">
            <div class="cont flx-gap-m">
                <div class="f-card">
                    <div class="icon">
                        <i class="fa-brands fa-windows"></i>
                    </div>
                    <div class="txt">
                        <h4>creative solutions</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolore consequuntur iste
                            doloribus necessitatibus? Nostrum suscipit pariatur quaerat harum sapiente?</p>
                    </div>
                </div>
                <div class="f-card">
                    <div class="icon">
                        <i class="fa-brands fa-slack"></i>
                    </div>
                    <div class="txt">
                        <h4>creative solutions</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolore consequuntur iste
                            doloribus necessitatibus? Nostrum suscipit pariatur quaerat harum sapiente?</p>
                    </div>
                </div>
                <div class="f-card">
                    <div class="icon">
                        <i class="fa-solid fa-fire"></i>
                    </div>
                    <div class="txt">
                        <h4>creative solutions</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolore consequuntur iste
                            doloribus necessitatibus? Nostrum suscipit pariatur quaerat harum sapiente?</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Features : End -->
        <!-- Why Us : Start -->
        <section class="why">
            <div class="cont flx-bet">
                <div class="img">
                    <img src="../assets/imgs/aside.jpg" alt="">
                </div>
                <div class="txt">
                    <h6>why us</h6>
                    <div class="btn danger-btn">mous</div>
                    <h4>why us</h4>
                    <div class="questions">
                        <div class="line">
                            <div class="q">what should i do if bla bla ?</div>
                            <div class="a">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea optio quidem,
                                dolore, ratione vel aspernatur, adipisci dolor quasi impedit consequatur mollitia rerum
                                maxime! Quaerat, dolore deserunt aspernatur earum ab omnis nobis ducimus cupiditate
                                delectus nulla facilis ipsa veritatis. Obcaecati, laudantium reiciendis rerum
                                necessitatibus voluptatibus est?</div>
                        </div>
                        <div class="line">
                            <div class="q">what should i do if bla bla ?</div>
                            <div class="a">Lorem ipsum dolor, isicing elit. Ea optio quidem, dolore, ratione vel
                                aspernatur, adipisci dolor quasi impedit consequatur mollitia rerum maxime! Quaerat,
                                dolore deserunt aspernatur earum ab omnis nobis ducimus cupiditate delectus nulla
                                facilis ipsa veritatis. Obcaecati, laudantium reiciendis rerum necessitatibus
                                voluptatibus est?</div>
                        </div>
                        <div class="line">
                            <div class="q">what should i do if bla bla ?</div>
                            <div class="a">Lorem ipsum dolor, optio quidem, dolore, ratione vel aspernatur, adipisci
                                dolor quasi impedit consequatur mollitia rerum maxime! Quaerat, dolore deserunt
                                aspernatur earum ab omnis nobis ducimus cupiditate delectus nulla facilis ipsa
                                veritatis. Obcaecati, laudantium reiciendis rerum necessitatibus voluptatibus est?</div>
                        </div>
                        <div class="line">
                            <div class="q">what should i do if bla bla ?</div>
                            <div class="a">Lorem ipsum dolor, sit amet consectetur adio quidem, dolore, ratione vel
                                aspernatur, adipisci dolor quasi impedit consequatur mollitia rerum maxime! Quaerat,
                                dolore deserunt aspernatur earum ab omnis nobis ducimus cupiditate delectus nulla
                                facilis ipsa veritatis. Obcaecati, laudantium reiciendis rerum necessitatibus
                                voluptatibus est?</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Why Us : End -->

        <!-- Testmonials : Start -->
        <div class="cont">
            <div class="hdr">
                <h6>happy clients</h6>
                <h4>testmonials</h4>
            </div>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide test-card">
                        <div class="img">
                            <img src="../assets/imgs/icons8-user-100.png" alt="">
                        </div>
                        <div class="name">moustafa saed</div>
                        <div class="title">front-end developer</div>
                        <div class="test">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed doloremque velit
                            cumque recusandae nostrum consequatur facere.</div>
                    </div>
                    <div class="swiper-slide test-card">
                        <div class="img">
                            <img src="../assets/imgs/icons8-user-100-1.png" alt="">
                        </div>
                        <div class="name">ali kamal</div>
                        <div class="title">engineer</div>
                        <div class="test">Lorem, Lorem ipsum dolor sit amet consectetur. ipsum dolor sit amet
                            consectetur adipisicing elit. Sed doloremque velit cumque recusandae nostrum consequatur
                            facere.</div>
                    </div>
                    <div class="swiper-slide test-card">
                        <div class="img">
                            <img src="../assets/imgs/icons8-user-100-1.png" alt="">
                        </div>
                        <div class="name">abdelrahman saeed</div>
                        <div class="title">full-stack developer</div>
                        <div class="test">Lorem, Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi iusto
                            sint voluptatibus atque neque voluptatum perspiciatis nesciunt deleniti a esse! Lorem ipsum
                            dolor sit amet consectetur. ipsum dolor sit amet consectetur adipisicing elit. Sed
                            doloremque velit cumque recusandae nostrum consequatur facere.</div>
                    </div>
                    <div class="swiper-slide test-card">
                        <div class="img">
                            <img src="../assets/imgs/icons8-user-100-1.png" alt="">
                        </div>
                        <div class="name">ibrahim elkhaleel</div>
                        <div class="title">accountant manger</div>
                        <div class="test">Lorem, Lorem ipsum dolor sit amet consectetur. ipsum dolor sit amet
                            consectetur adipisicing elit. Sed doloremque velit cumque recusandae nostrum consequatur
                            facere.</div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <!-- Testmonials : End -->
        <!-- Dessert : Start -->
        <section class="dessert">
            <div class="cont">
                <div class="big-img">
                    <span class="border"></span>
                    <img src="../assets/imgs/aside.jpg" alt="">
                </div>
                <div class="features">
                    <div class="feat">
                        <img src="../assets/imgs/interior-icon3.png" alt="">
                        <h3>pool decor</h3>
                    </div>
                    <div class="feat">
                        <img src="../assets/imgs/interior-icon4.png" alt="">
                        <h3>seat decor</h3>
                    </div>
                    <div class="feat">
                        <img src="../assets/imgs/interior-icon5.png" alt="">
                        <h3>intutive idea</h3>
                    </div>
                    <div class="feat">
                        <img src="../assets/imgs/interior-icon2.png" alt="">
                        <h3>decoration</h3>
                    </div>
                </div>
            </div>
        </section>
        <!-- Dessert : End -->
        <!-- Blog : Start -->
        <section class="blog">
            <h6>news &and; updates</h6>
            <h4>our blogs</h4>
            <div class="cont">
                <div class="post">
                    <div class="photo">
                        <img src="../assets/imgs/welcome_cover1.jpg" alt="">
                    </div>
                    <div>
                        <div class="date">
                            16, march 2002
                        </div>
                        <div class="title">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem nam magni ad, repudiandae
                            obcaecati doloremque!
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="photo">
                        <img src="../assets/imgs/welcome_cover1.jpg" alt="">
                    </div>
                    <div>
                        <div class="date">
                            16, march 2002
                        </div>
                        <div class="title">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem nam magni ad, repudiandae
                            obcaecati doloremque!
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="photo">
                        <img src="../assets/imgs/welcome_cover1.jpg" alt="">
                    </div>
                    <div>
                        <div class="date">
                            16, march 2002
                        </div>
                        <div class="title">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem nam magni ad, repudiandae
                            obcaecati doloremque!
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn light">all posts</div>
        </section>
        <!-- Blog : End -->
    </main>
    <!-- Footer : Start -->
    <footer>
        <div class="cont">
            <div class="nav">
                <h2>navigation</h2>
                <div class="flx-bet">
                    <ul class="sections">
                        <li><a href="">home</a></li>
                        <li><a href="">services</a></li>
                        <li><a href="">news</a></li>
                        <li><a href="">teams</a></li>
                    </ul>
                    <ul class="general">
                        <li><a href="">about us</a></li>
                        <li><a href="">privacy policy</a></li>
                        <li><a href="">contact us</a></li>
                        <li><a href="">membership</a></li>
                    </ul>
                </div>
            </div>
            <div class="recent-news">
                <h2>recent news</h2>
                <div class="news-box">
                    <div class="card flx-gap-l">
                        <div class="img">
                            <img src="../assets/imgs/welcome_cover1.jpg" alt="">
                        </div>
                        <div class="info">
                            <div class="date">21, August 2000</div>
                            <div class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat!</div>
                        </div>
                    </div>
                    <div class="card flx-gap-l">
                        <div class="img">
                            <img src="../assets/imgs/welcome_cover1.jpg" alt="">
                        </div>
                        <div class="info">
                            <div class="date">21, August 2000</div>
                            <div class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat!</div>
                        </div>
                    </div>
                    <div class="card flx-gap-l">
                        <div class="img">
                            <img src="../assets/imgs/welcome_cover1.jpg" alt="">
                        </div>
                        <div class="info">
                            <div class="date">21, August 2000</div>
                            <div class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat!</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="double">
                <form class="subscribe-form">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, cum!</p>
                    <div>
                        <input type="email" placeholder="write your email">
                        <input type="submit" value="send">
                    </div>
                </form>
                <div class="social">
                    <h2>follow us</h2>
                    <ul>
                        <li><a href=""><i></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <p>Copyright ©2024 All rights reserved | This template is made with  by Moustafa</p>
    </footer>
    <!-- Footer : End -->

    <!-- Js Files -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- Bootstrap -->
    <!-- <script src="../assets/js/bootstrap.bundle.min.js"></script> -->
    <!-- main file -->
    <script src="../assets/js/main.js"></script>
    <!-- fontawesome file -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</body>

</html>